<head>
    <meta charset="UTF-8">
    <meta name="viewport" content=""width=device-width, initial-scale="1.0">
    <title><%= title %> | cse Motors</title>
    <link rel="icon" type="image/png" href="/images/site/favicon-32x32.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">
    <meta name="description" content="CSE Motors-Your trusted source for quality vehicles and automotice services.">
    <meta property="og:title" content="CSE Motors">
    <meta property="og:description" content="Your trusted source for quality vehicles and automotive services.">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#004080">
</head>