<!DOCTYPE html>
<html lang="en-us">
<head>
  <%- include('./head') %>
</head>
<body>
  <header>
    <div id="top-header">
      <a href="/" title="CSE Motors Home">
        <img src="/images/site/logo.png" alt="CSE Motors Logo">
      </a>

      <div id="tools">
        <% if (loggedIn && accountData) { %>
          <a href="/account" title="Account Management">
            Welcome <%= accountData.account_firstname %>
          </a>
          <a href="/account/logout" title="Logout">
            Logout
          </a>
        <% } else { %>
          <a href="/account/login" title="My Account">My Account</a>
        <% } %>
      </div>
    </div>

    <nav>
      <%- nav %>
    </nav>
  </header>

  <main>

